:root {
  --primary-text-color: #212121;
  --primary-bgc: #ffffff;
  --button-bgc: #afb1b8;
  --title-color: #757575;
  --title-black: #2f303a;
  --accent-color: #2196f3;
  --bgc-button: #f5f4fa;
  --title-text-color: #000000;
  --border: #eeeeee;
  --border-header: #ececec;
  --hero-bgc: rgba(47, 48, 58, 0.4);
  --white-grau:rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p,
a,
ul {
  margin: 0px;
  padding: 0px;

  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* logo */

.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.logo-footer {
  color: var(--primary-bgc);
}

/* шапка */
.header {
  border-bottom: 1px solid var(--border-header);
  padding: 32px 0;
}

.main-nav {
  display: flex;
  align-items: center;
}
.nav-list,
.info-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.06;
}
.nav-link.current {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  margin-left: 93px;
}
.info-list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child),
.info-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: var(--primary-text-color);
}

.info-link {
  color: var(--title-color);
  align-items: center;
  display: flex;
}

.nav-list :hover,
.nav-list :focus {
  color: var(--accent-color);
}

.info-link :hover,
.info-link :focus {
  color: var(--accent-color);
  text-decoration: none;
}

.info-icon {
  margin-right: 10px;
  text-decoration: none;
  fill: currentColor;
}

/* герой */

.hero {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background: var(--title-black);
  text-align: center;
  height: 600px;
  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      var(--hero-bgc),
      var(--hero-bgc)
    ),
    url(../images/imghero.jpg);
    display: block;
}

.hero-text {
  margin-bottom: 30px;
  list-style: none;
  color: var(--primary-bgc);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .hero-button {
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--primary-bgc);
  display: inline-block;
  align-items: center;

  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
}

.hero .hero-button:focus,
.hero .hero-button:hover {
  color: var(--primary-bgc);
  background-color: var(--accent-color);
}

/* section */

.section {
  padding: 94px 0;
}

.feature-item-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;
  color: var(--primary-text-color);
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-item-text {
  font-size: 14px;
  line-height: 1.71;
  list-style: none;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.title {
  margin-bottom: 50px;
  list-style: none;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-list {
  justify-content: space-between;
  display: flex;
  padding-bottom: 94px;
}

.feature-list-item {
  width: 270px;
}

.feature-img {
  width: 270px;
  height: 120px;
  background: var(--bgc-button);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.feature-img-1 {
  fill: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*наша команда */

.team-info {
  background-color: var(--bgc-button);
}

.team-work {
  justify-content: space-between;
  display: flex;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  box-shadow: var(--title-color);
}

.team-content {
  padding: 30px 0;

  text-align: center;
  background-color: var(--primary-bgc);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-text {
  padding-top: 10px;

  color: var(--title-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.social-link {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}



.social-team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-bgc);
}

.social-team {
 
  fill: var(--button-bgc);
}

.social-team-item:not(:last-child) {
  margin-right: 10px;
}
.social-team-link :hover,
.social-team-item :hover {
  background-color: var(--accent-color);
  fill: var(--bgc-button);
   
}
.social-team-link:hover .social-team  {
  fill: var(--bgc-button);
}

/* Постоянные клиенты */

.client.list {
  display: flex;
  justify-content: space-between;
  
}

.client-item {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  
}

.client-link {
  display: flex;
  padding: 16px 32px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--button-bgc);
  justify-content: center;
  align-items: center;
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  color: #afb1b8;
}
.client-link:hover .client-icon {
   fill: var(--accent-color);
   
}

.client-link:hover{
  border: 1px solid var(--accent-color);
}
/* Футер  */

.footer {
  padding: 60px 0;

  font-family: inherit;
  background-color: var(--title-black);
  font-size: 14px;
}

.address {
  margin: 20px 0 0;
}

.footer-address {
  font-style: normal;
  color: var(--primary-bgc);
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address-navigate {
  margin-top: 9px;
  font-size: 14px;
 letter-spacing: 0.03em;
  color: var( --white-grau);
  text-decoration: none;
  font-style: normal;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.join-container {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-bgc);
}

.container-flexing {
  display: flex;
  align-items: baseline;
}

.social-footer {
  width: 20px;
  height: 20px;
  fill: var(--primary-bgc);
}
.social-footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-footer-item {
  width: 44px;
  height: 44px;
}
.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--primary-bgc)10;
}
.social-footer-item:not(:last-child) {
  margin-right: 10px;
}
.social-footer-link:hover {
  background-color: var(--accent-color);
}

.container-footer {
  margin-right: 70px;
}

/* Портфолио */

/* кнопки в портфолио*/
.filter .filter-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: none;

  background: var(--bgc-button);
  cursor: pointer;
  color: var(--primary-text-color);
  font-style: normal;
  text-align: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  margin: 0px;
  padding: 0px;
}
.filter .filter-button:hover,
.filter .filter-button:focus {
  color: var(--primary-bgc);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter {
  display: flex;
  justify-content: center;
}

.portfolio.list {
  margin-top: 50px;

  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}
.portfolio-link {
  display: block;
}


.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}


.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-content {
  padding: 20px 24px;
  background-color: var(--primary-bgc);
  border: 1px solid var(--border);
  border-top: none;
  
}

.portfolio-item-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item-text {
  padding-top: 4px;

  color: var(--title-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
